.reports-page-container {
    display: flex;
  }
  
  .sidebar-collapsed .reports-main-content {
    margin-left: 80px;
  }
  
  .reports-main-content {
    flex: 1;
    padding: 20px;
    margin-left: 300px; /* Space for sidebar */
    transition: margin-left 0.3s;
    width: 80vw;
  }
  
  .reports-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .filter-dropdown {
    display: flex;
    align-items: center;
  }
  
  .filter-dropdown label {
    margin-right: 10px;
    color: #34495e;
  }
  
  .filter-dropdown select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .charts-section{
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
  }
  
  .bar-chart, .pie-chart{
    flex: 1;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
    
  .report-table {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .report-table table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .report-table th, .report-table td {
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  .report-table th {
    background-color: #f4f4f4;
    color: #2c3e50;
  }
  
  .report-table td {
    color: #34495e;
  }
  
  .report-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  